.container-fluid
  #main-box
    #quote.text-center
    #byline.pull-right
    br
    br
    .buttons
      button#twitter-btn.btn.btn-default
        i.fa.fa-twitter
      button#quote-btn.btn.btn-default.pull-right
        | New Quote